@using Sandbox
@using Sandbox.UI
@using System

@namespace Pace.UI
@attribute [StyleSheet]
@inherits Panel

@{
	var player = Player.Local;

	if (!player.IsValid())
		return;

	if (!player.IsAlive)
		return;

	var inventory = player.Inventory;
}

<root>
	@for (var i = 1; i < inventory.Equipment.Count; i++)
	{
		<div class="slot rounded @(HasActiveClass(inventory[i]) ? "active" : "")" )">
			@if (inventory[i].IsValid())
			{
				<img src=@inventory[i].Icon />
			}
			<InputGlyph action=@Inventory.GetInputString(i) />
		</div>
	}
</root>

@code
{
	private bool HasActiveClass(Equipment eq)
	{
		if (!eq.IsValid())
			return false;

		return eq.IsActive;
	}

	protected override int BuildHash()
	{
		if (!Player.Local.IsValid())
			return 0;

		var result = 0;

		foreach (var eq in Player.Local.Inventory.Equipment)
			result = HashCode.Combine(result, eq.IsValid(), eq?.IsActive);

		return HashCode.Combine(Player.Local.IsAlive, result);
	}
}