@using Sandbox;
@using Sandbox.UI;
@using System;

@namespace Pace.UI
@attribute [StyleSheet]
@inherits Panel

<root>
	<div style="flex-shrink: 0;">
		@if (PlayerId != default)
		{
			<div>
				<img class="circle" src="avatar:@PlayerId" />
			</div>
		}
		<text class="name" style="color: @Color.White.Hex;">@Name</text>
	</div>

	@if (!string.IsNullOrEmpty(Message))
	{
		<div>
			<text class="message">@Message</text>
		</div>
	}
</root>

@code
{
	private long PlayerId { get; set; }
	private string Name { get; set; }
	private string Message { get; set; }

	public TimeSince Lifetime { get; init; } = 0;

	public TextChatEntry(long playerId, string name, string message) 
	{
		PlayerId = playerId;
		Name = name;
		Message = message;
	}

	public TextChatEntry(string message)
	{
		Name = message; // Use Name field since it is bold & colored.
	}
}