@using Sandbox;
@using Sandbox.UI;
@using System;

@namespace Pace.UI
@attribute [StyleSheet]
@inherits Panel

<root class="text-shadow">
	<img src="avatar:@Client.SteamId" class="avatar circle" />
	<label class="name">@Client.Name</label>
	<label class="stat">@Client.GetInt("kills")</label>
	<label class="stat">@Client.GetInt("deaths")</label>
	<label class="stat">@(Client.IsBot ? "BOT" : Client.Ping.ToString())</label>
</root>

@code
{
	public IClient Client { get; set; }

	protected override int BuildHash()
	{
		return HashCode.Combine(Client.GetInt("kills"), Client.GetInt("deaths"), Client.Ping);
	}
}