@using Sandbox;
@using Sandbox.UI;
@using System;

@namespace Pace.UI
@attribute [StyleSheet]
@inherits Panel

<root class="rounded-top text-shadow">
	@*<img src="/ui/cigarlounge-logo.png" class="logo rounded" />*@
	<div class="server-information">
		<label class="title">Pace</label>
		<label class="url">github.com/kolexxx/sbox-Pace</label>
	</div>
	<div class="server-data">
		<label style="font-weight: bold;">@Game.Server.MapIdent</label>
		<label>@($"{Game.Clients.Count} / {Game.Server.MaxPlayers} Players")</label>
@*		@{
			var roundsRemaining = Murder.GameManager.RoundLimit - Murder.GameManager.Instance.TotalRoundsPlayed;
			var suffix = roundsRemaining == 1 ? "round" : "rounds";

			<label>
				@($"Map will change in {roundsRemaining} {suffix}")
			</label>
		}*@
	</div>
</root>

@code
{
	protected override int BuildHash()
	{
		return HashCode.Combine
		(
			Game.Clients.Count,
			Game.Server.MaxPlayers
		);
	}
}