@import "../Hud.razor.scss";

Minimap
{
    position: absolute;
    width: 250px;
    height: 250px;
    top: 2%;
    left: 2%;
    background-image: radial-gradient($primary, black);
    align-items: center;
    justify-content: center;
    overflow: scroll;

    div
    {
        position: absolute;
    }

    .enemy
    {
        background-color: red;
    }
}