Timer
{
    position: absolute;
    top: 0;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: bold;
    background-image: linear-gradient(to right, rgba(0 0 0 0 ), rgba(0 0 0 0.5) 20%, rgba(0 0 0 0.7)40%, rgba(0 0 0 0.7)60%, rgba(0 0 0 0.5) 80%, rgba(0 0 0 0));
    width: 200px;
    height: 75px;
}
