@import "../Hud.razor.scss";

Timer
{
    position: absolute;
    top: 0;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: bold;
    background-image: linear-gradient(to right, rgba($primary 0), rgba($primary 0.5) 40%, rgba($primary 0.6)50%, rgba($primary 0.5) 60%, rgba($primary 0));
    width: 300px;
    height: 75px;
}
