@import "../../Hud.razor.scss";

InventorySlot
{
    width: 75px;
    height: 75px;
    margin: 0 20px 0 20px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    background-color: $primary;
    backdrop-filter-blur: 20px;
    opacity: 0.3;
    transition: transform 0.2s ease-out;

    img
    {
        position: absolute;
        background-size: cover;
    }

    InputGlyph
    {
        margin-top: 80px;
    }

    &.active
    {
        opacity: 0.9;
        transform: scale(1.2);
    }
}
