@using Sandbox;
@using Sandbox.UI;

@namespace Pace.UI
@attribute [StyleSheet]
@inherits Panel

<root>
	<label class="left" text=@Left></label>
	<label class="method" text=@Weapon.ClassName></label>
	<label class="right" text=@Right></label>
</root>

@code
{
	public string Left { get; set; }
	public string Right { get; set; }
	public WeaponDefinition Weapon { get; set; }
	private RealTimeSince _timeSinceCreated = 0;

	public KillFeedEntry(string left, string right, WeaponDefinition weapon)
	{
		Left = left;
		Right = right;
		Weapon = weapon;
	}

	public override void Tick()
	{
		if (_timeSinceCreated > 6f)
			Delete();
	}
}