@using Sandbox;
@using Sandbox.UI;
@using System;

@namespace Pace.UI
@attribute [StyleSheet]
@inherits Panel

@{
	var gamemode = MyGame.Instance.Gamemode;

	if (gamemode is null)
		return;
}

<root>
	<label text=@gamemode.GetTimeLeftLabel()></label>
</root>

@code
{
	protected override int BuildHash()
	{
		var gamemode = MyGame.Instance.Gamemode;

		return HashCode.Combine(gamemode, gamemode.GetTimeLeftLabel());
	}
}