@using Sandbox
@using Sandbox.UI

@namespace Pace.UI
@attribute [StyleSheet]
@inherits Panel

<root>
    @{
        var left = _damage.Attacker.Network.Owner.DisplayName;
        var weapon = _damage.Weapon is Equipment eq ? eq.Icon : "";
        var right = _damage.Victim.Network.Owner.DisplayName;
    }

    <label class=@IsMe(left)>@left</label>
    <img src=@weapon />
    @if (_damage.Flags.HasFlag(DamageFlags.Critical))
    {
        <img style="background-size: 40px;" src="ui/headshot.png" />
    }
    <label class=@IsMe(right)>@right</label>
</root>

@code
{
    private Pace.DamageInfo _damage;
    private RealTimeSince _timeSinceCreated = 0;

    public KillFeedEntry(Pace.DamageInfo damage) => _damage = damage;

    public override void Tick()
    {
        if (_timeSinceCreated > 6f)
            Delete();
    }

    private string IsMe(string name)
    {
        return name == Player.Local.SteamName ? "local" : string.Empty;
    }
}