KillFeedEntry
{
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    color: white;
    transition: all 0.2s ease-out;
    opacity: 1;
    flex-shrink: 0;
    flex-grow: 0;
    height: 30px;
    font-size: 20px;

    &:intro
    {
        transform: scale( 2 );
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 0;
        height: 0;
        opacity: 0;
    }

    &:outro
    {
        top: -20px;
        opacity: 0;
        transform: scale( 1.1 );
        transition: all 0.2s ease-in;
    }

    img
    {
        width: 64px;
        height: 64px;
        border-radius: 100px;
        background-size: 70px;
        background-position: center center;
        background-repeat: no-repeat;
        opacity: 0.4;
        transform: rotateY(180);
    }

    label
    {
        padding: 0 12px;
    }
}