@using Sandbox.UI
@using System

@namespace Pace.UI
@attribute [StyleSheet]
@inherits Panel

<root class="text-shadow header rounded-top background-color-primary">
	<label class="name">Players</label>
	<label class="stat">Kills</label>
	<label class="stat">Deaths</label>
	<label class="stat">Ping</label>
</root>