@import "../../UI/Hud.razor.scss";

GameOverPopup
{
    transition: opacity 0.5s ease-in;
    opacity: 1;
    position: absolute;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100px;
    min-width: 500px;
    color: white;
    font-size: 30px;
    top: 200px;
    flex-direction: column;
    background-image: linear-gradient(to right, rgba($primary 0), rgba($primary 0.5) 40%, rgba($primary 0.6)50%, rgba($primary 0.5) 60%, rgba($primary 0));
    padding-left: 60px;
    padding-right: 60px;

    &:intro
    {
        opacity: 0;
    }

    &:outro
    {
        opacity: 0;
    }
}
