@using Sandbox;
@using Sandbox.UI;

@namespace Pace.UI
@attribute [StyleSheet]
@inherits Panel

<root>

	<label>@(Winner.IsValid() ? $"{Winner.Name} is the ultimate Pace player" : "The ultimate Pace player is yet to be decided...")</label>

</root>

@code
{
	public IClient Winner { get; set; }

	public GameOverPopup(IClient winner)
	{
		Winner = winner;
	}

	public override void Tick()
	{
		var gamemode = MyGame.Instance.Gamemode;

		if (gamemode.State != State.GameOver)
			return;

		if (gamemode.TimeUntilNextState <= 1f)
			Delete();
	}
}