@using Sandbox;
@using Sandbox.UI;
@using System.Linq;
@using System.Collections.Generic;

@namespace Pace.UI
@attribute [StyleSheet]
@inherits Panel

<root>
	<label class="first"></label>
	<label class="second"></label>
	<label class="third"></label>
	<label></label>
</root>

@code
{
	public override void Tick()
	{
		if (!Children.Any())
			return;

		var clients = new List<IClient>(Game.Clients);

		clients.Sort(delegate (IClient x, IClient y)
		{
			return y.GetInt("kills").CompareTo(x.GetInt("kills"));
		});

		var j = 0;
		var place = 1;
		var localInTop3 = false;
		for (var i = 0; i < clients.Count && j < 4; i++)
		{
			if (GetChild(j) is not Label label)
				break;

			if (j >= clients.Count)
			{
				j++;
				label.Text = string.Empty;
				continue;
			}

			if (i > 0 && clients[i - 1].GetInt("kills") != clients[i].GetInt("kills"))
				place++;

			if (j == 3 && !localInTop3 && clients[i] != Game.LocalClient)
				continue;

			label.Text = GetFormatString(clients[i], place);
			label.SetClass("me", clients[i] == Game.LocalClient);
			label.SetClass("first", place == 1);
			label.SetClass("second", place == 2);
			label.SetClass("third", place == 3);

			if (clients[i] == Game.LocalClient)
				localInTop3 = true;

			j++;
		}
	}

	private string GetPlaceClass(int i)
	{
		return i switch
		{
			1 => "first",
			2 => "second",
			3 => "third",
			_ => string.Empty,
		};
	}

	private string GetFormatString(IClient client, int place)
	{
		return $"{place}. {client.Name} - {client.GetInt("kills")}";
	}
}